@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: coolveticaCompressedHv;
  src: url('../font/coolveticaCompressedHv.ttf');
}

.container {
	background-color: white;
	height: 100%;
  width: 80%;
}

.navbar {
border-radius: 0 0 5px 5px;
background-color: #3c8dbc;
}

.nav-link {
  margin-right: 1rem;
  color: #ffffff !important;
}

.nav-link:hover {
  transform: scale(1.1);
}

.navbar-brand img {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 10px;
}

#parGym {
  font-family: coolveticaCompressedHv;
    margin: 0px 0 0 -45px;
    font-size: 25px;
    color: #ffffff;
    margin-right: 2rem;
}

.navbar-nav {
  width: 100%;
}

.navLogin {
  position: absolute;
  width: 13%;
  margin-left: 72%;
}